.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.body {
    background-color: #FFFF;
}

/* HEADER */
.header {
    position: absolute;
    height: 90px;
    left: 0%;
    right: 0%;
    top: 0px;
    z-index: 1000;
    background: #FFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.header__logo:hover {
    color: rgba(192, 201, 216, 0.932);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 23px;
    align-items: center;
}
.header__title {
    position: relative;
    left: -231px;
}
.nav {
    font-size: 15px;
    font-weight: 400; 
 
}
.nav__head, 
.nav__templ {
    color: #666666;
    text-decoration:none;
    margin-left: 15px;
    border-radius: 4px;
}
.nav__templ {
    background: #222;
    border: solid black 1px;
    padding-right: 25px;
    size: 14px;
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    text-align: center;
    color: white;
}
.nav__head:hover {
    text-decoration: underline;
    background: black;
    transition: 0.5s;
    color: white;
    padding: 3px;
}
.nav__templ:hover {
    text-decoration: underline;
    background: #ffffff;
    transition: 0.5s;
    color: black;
}

/* INTRO */
.intro {
    display: flex;
    justify-content: space-between;
    padding-top: 190px;
    width: 100%;
    max-width: 1168px;
    margin: 0;
    padding-right: 100px;
}
.intro__sec1 {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.intro__sec1-logo {
    font-size: 34px;
    font-weight: 800;
    color: #FFFFFF;
    padding: 10px;
    background: linear-gradient(134.6deg, #D140F8 -3.11%, #788CE9 33.98%, #37C2DE 66.35%, #1ECCAE 98.49%); 
    border-radius: 20px;
    text-decoration: none;
}

.intro__sec1-logo:hover {
    color: rgba(192, 201, 216, 0.932);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.intro__sec1-logoname {
    position: relative;
    top: -10%;  /*Тут вопрос*/
    left: 21%;
    margin: 0;
}
.intro__sec1-head {
    max-width: 400px ;
    margin: 0 auto;
    margin-bottom: 20px;
}
.intro__sec1-par {
    max-width: 400px ;
    margin: 0;
}
.intro__btn {
    display: inline-block;
    background-color: #222;
    border: solid black 1px;
    padding-right: 25px;
    size: 14px;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 4px;
    text-align: center;
    color: white;
    text-decoration:none;
}
.intro__btn:hover {
    text-decoration: underline;
    background: #ffffff;
    transition: 0.5s;
    color: black;
}
.intro__sec2 {
    max-width: 400px;
    /* overflow: hidden; */
    max-height: 548px;
}
.intro__sec2-img {
    position: relative;
    top: 20px;
    z-index: 0;
}
.intro__sec3-img {
    position: relative;
    top: -510px;
    left: 7%;
    z-index: -1;
}
.intro__phone:hover {
    transform: translate(0px, -20px);
    transition: 0.5s;
 }

/* FEATURES */
.features {
    display: flex;
    /* justify-content: space-between; */
    /* padding-top: 100px; */
    width: 100%;
    margin: 0 auto;
    background: #222;
    position: relative;
}
.features__inner-title {
    margin: 0 auto;
    margin-top: 0.5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    max-width: 85px;
    max-height: 20px;
}
.features__inner {
    width: 1200px;   /* max-width не задаётся */
    height: 1138px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom:100px;
    position: relative;
  }
  .features__inner-subtitle {
    width: 495px;
    height: 72px;
    margin: 0 auto;
    height: auto;
    text-align: center;  
  }
        
  
  
  
/* FEATURES BLOCKS */

/* Feature - block1 */
.features__inner-block1 {
    position: absolute;
    left:16px;
    top:141.63px;
    width: 379px;
    max-height: 490px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1;
}
.features__inner-block1-img {
    position: relative;
    left:76px;
    right:76px;
    top: 40px;
    max-width: 227px;
    max-height: 450px;
    z-index: 2;
}
.features__inner-block1-img2 {
    position: absolute;
    left:93px;
    top: 80px;
    max-width: 194px;
    max-height: 420px;
    z-index: 3;
}
.features__inner-block1-content {
    position: relative;
    top: -158px;;
    max-width: 379px;
    height: 197px;
    z-index: 4;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.features__inner-bl1-cont-img {
    position: absolute;
    top: -32px;
    left:157px;
    max-width: 64px;
    max-height: 64px;
    z-index: 5;
}
.features__inner-bl1-cont-title {
    position: absolute;
    max-width: 177px;
    max-height: 30px;
    top: 23px;
    left: 101px;
    z-index: 5;
}
.features__inner-bl1-cont-text {
    position: absolute;
    max-width: 286px;
    max-height: 68px;
    top: 65px;
    left: 46px;
    z-index: 5;
}

/* Feature block2 */
.features__inner-block2 {
    position: absolute;
    left:411px;
    top:141.63px;
    width: 379px;
    max-height: 490px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1;
}
.features__inner-block2-img {
    position: relative;
    left:76px;
    right:76px;
    top: 40px;
    max-width: 227px;
    max-height: 450px;
    z-index: 2;
}
.features__inner-block2-img2 {
    position: absolute;
    left:93px;
    top: 80px;
    max-width: 194px;
    max-height: 420px;
    z-index: 3;
}
.features__inner-block2-content {
    position: relative;
    top: -158px;;
    max-width: 379px;
    height: 197px;
    z-index: 4;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.features__inner-bl2-cont-img {
    position: absolute;
    top: -32px;
    left:157px;
    max-width: 64px;
    max-height: 64px;
    z-index: 5;
}
.features__inner-bl2-cont-title {
    position: absolute;
    max-width: 177px;
    max-height: 30px;
    top: 23px;
    left: 168px;
    z-index: 5;
}
.features__inner-bl2-cont-text {
    position: absolute;
    max-width: 286px;
    max-height: 68px;
    top: 65px;
    left: 46px;
    z-index: 5;
}
/* Feature block3 */
.features__inner-block3 {
    position: absolute;
    left:805px;
    right:16px;
    top:141.63px;
    width: 379px;
    max-height: 490px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1;
}
.features__inner-block3-img {
    position: relative;
    left:76px;
    right:76px;
    top: 40px;
    max-width: 227px;
    max-height: 450px;
    z-index: 2;
}
.features__inner-block3-img2 {
    position: absolute;
    left:93px;
    top: 80px;
    max-width: 194px;
    max-height: 420px;
    z-index: 3;
}
.features__inner-block3-content {
    position: relative;
    top: -158px;;
    max-width: 379px;
    height: 197px;
    z-index: 4;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.features__inner-bl3-cont-img {
    position: absolute;
    top: -32px;
    left:157px;
    max-width: 64px;
    max-height: 64px;
    z-index: 5;
}
.features__inner-bl3-cont-title {
    position: absolute;
    max-width: 177px;
    max-height: 30px;
    top: 23px;
    left: 119px;
    z-index: 5;
}
.features__inner-bl3-cont-text {
    position: absolute;
    max-width: 286px;
    max-height: 68px;
    top: 65px;
    left: 46px;
    z-index: 5;
}
/* Feature block4 */
.features__inner-block4 {
    position: absolute;
    left:16px;
    top:647.63px;
    width: 379px;
    max-height: 490px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1;
}
.features__inner-block4-img {
    position: relative;
    left:76px;
    right:76px;
    top: 40px;
    max-width: 227px;
    max-height: 450px;
    z-index: 2;
}
.features__inner-block4-img2 {
    position: absolute;
    left:93px;
    top: 56px;
    max-width: 194px;
    max-height: 420px;
    z-index: 1;
}
.features__inner-block4-content {
    position: relative;
    top: -158px;;
    max-width: 379px;
    height: 197px;
    z-index: 4;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.features__inner-bl4-cont-img {
    position: absolute;
    top: -32px;
    left:157px;
    max-width: 64px;
    max-height: 64px;
    z-index: 5;
}
.features__inner-bl4-cont-title {
    position: absolute;
    max-width: 177px;
    max-height: 30px;
    top: 23px;
    left: 127px;
    z-index: 5;
}
.features__inner-bl4-cont-text {
    position: absolute;
    max-width: 286px;
    max-height: 68px;
    top: 65px;
    left: 46px;
    z-index: 5;
}
.wallpaper4,
.wallpaper5 {
    max-width: 196px;
    max-height: 450px;
}
/* Feature block5 */
.features__inner-block5 {
    position: absolute;
    left:411px;
    top:647.63px;
    width: 379px;
    max-height: 490px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1;
}
.features__inner-block5-img {
    position: relative;
    left:76px;
    right:76px;
    top: 40px;
    max-width: 227px;
    max-height: 450px;
    z-index: 2;
}
.features__inner-block5-img2 {
    position: absolute;
    left:92px;
    top: 54px;
    max-width: 194px;
    max-height: 420px;
    z-index: 1;
}
.features__inner-block5-content {
    position: relative;
    top: -158px;;
    max-width: 379px;
    height: 197px;
    z-index: 4;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.features__inner-bl5-cont-img {
    position: absolute;
    top: -32px;
    left:157px;
    max-width: 64px;
    max-height: 64px;
    z-index: 5;
}
.features__inner-bl5-cont-title {
    position: absolute;
    max-width: 177px;
    max-height: 30px;
    top: 23px;
    left: 127px;
    z-index: 5;
}
.features__inner-bl5-cont-text {
    position: absolute;
    max-width: 286px;
    max-height: 68px;
    top: 65px;
    left: 46px;
    z-index: 5;
}
/* Feature block6 */
.features__inner-block6 {
    position: absolute;
    left:805px;
    top:647.63px;
    width: 379px;
    max-height: 490px;
    background: #FFFFFF;
    border-radius: 20px;
    z-index: 1;
}
.features__inner-block6-img {
    position: relative;
    left:76px;
    right:76px;
    top: 40px;
    max-width: 227px;
    max-height: 450px;
    z-index: 2;
}
.features__inner-block6-img2 {
    position: absolute;
    left:92px;
    top: 54px;
    max-width: 194px;
    max-height: 420px;
    z-index: 1;
}
.features__inner-block6-content {
    position: relative;
    top: -158px;;
    max-width: 379px;
    height: 197px;
    z-index: 4;
    background: #F2F2F2;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 20px 20px;
}
.features__inner-bl6-cont-img {
    position: absolute;
    top: -32px;
    left:157px;
    max-width: 64px;
    max-height: 64px;
    z-index: 5;
}
.features__inner-bl6-cont-title {
    position: absolute;
    max-width: 177px;
    max-height: 30px;
    top: 23px;
    left: 127px;
    z-index: 5;
}
.features__inner-bl6-cont-text {
    position: absolute;
    max-width: 286px;
    max-height: 68px;
    top: 65px;
    left: 46px;
    z-index: 5;
}





















  /* stats */
  .back__stats {
    background: #FF5437;
    width: 100%;
  }
  .stats {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        /* padding-top: 100px; */
        width: 100%;
        margin: 0 auto;
        background: #FF5437;
  }
  .stats__item {
    width: 252px;
    height: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;
    margin: 0 100;
    padding-left: 36px;
  }
.stats__item-title {
    /* padding-top: 0px; */
    margin: 0;
    padding-bottom: 20px;
  }



  /* TECHNOLOGY */
  .back__technology {
    background: #FFFFFF ;
  }
  .technology {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.technology__sec {
    display: block;
    position: relative;
    justify-content: space-between;
    padding-top: 100px;
    width: 100%;
    max-width: 1168px;
    margin: 0 auto;
    padding-bottom: 100px;
     /* border: solid rgb(0, 0, 0); */
}
.technology__sec1 {
    display: block;
    width: 100%;
    max-width: 410px;
    margin-left: 136px;
    padding-top:77px;
}
.technology__sec1-title {
    max-width: 409px ;
    margin-top: 5px;
    margin-bottom: 15px;
}
.technology__sec1-name {
    max-width: 410px ;
    margin: 0;
}
.technology__sec1-text {
    max-width: 410px ;
    margin: 0;
    margin-bottom: 88px;
}
.technology__sec2 {
    max-width: 400px;
    position: absolute;
    width: 376px;
    left: 57%;
    top: 15%;
    z-index: 2;
}
.technology__sec3 {
    max-width: 400px;
    position: absolute;
    max-width: 376px;
    left: 64%;
    top: 80px;
    z-index: 3;
}
.technology__phone {
    position: relative;
    max-width: 376px;
    left: 37%;
    top: -100%;
}
.technology__phone:hover {
    transform: translate(0px, -20px);
    transition: 0.5s;
}

/* SPEED&SEC */
.back__speed {
    background: #F2F2F2;
}
.speed {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: #F2F2F2;
    z-index: 4;
}
.speed__sec {
    display: block;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    width: 100%;
    max-width: 1168px;
}
.speed__sec2 {
    display: block;
    width: 100%;
    max-width: 403px;
    margin-right: 100px;
    padding-top:77px;
}
.speed__sec1 {
    position: relative;
    z-index: 1;
    left: -116%;
    top:106%;
    max-width: 400px;
    max-height: 774px;
    margin-left:136px;
    margin-bottom: 0;
}
.speed__sec1-1 {
    position: absolute;
    z-index: 0;
    left: -65.3%;
    top: 110%;
}
.speed__sec1-img {
    overflow: hidden;
    margin: 0 auto;
}
.speed__sec2-title {
    max-width: 409px ;
    margin-top: 5px;
    margin-bottom: 15px;
}
.speed__sec2-name {
    max-width: 410px ;
    margin: 0;
}
.speed__sec2-text {
    max-width: 410px ;
    margin: 0;
}
.speed__phone {
    position: relative;
    max-width: 321px;
    max-height: 695px;
    left: 37%;
    top: -100%;
}
.speed__phone:hover {
    transform: translate(0px, -20px);
    transition: 0.5s;
}



/* DARK */
.back__dark {
    background: #222;
    z-index: 5;
    position: relative;
    margin: 0 auto;
}
.dark {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    max-height: auto;
    margin: 0 auto;
    background: #222;
}
.dark__inner {
    /* position: relative; */
    /* width: 100%; */
    /* max-width: 85px; */
    width: 100%;
    margin: 0 auto;
    padding-top: 100px; 
  }
.dark__subtitle2 {
    margin: 0 auto;
}
.dark__title {
    margin-bottom: 5px;
}
.dark__subtitle1 {
    margin-bottom: 14px;
}
.dark__block {
    position:relative;
    padding-left: 400px;
    padding-top: 36px;
}
.dark__block-pic {
    position: relative;
    z-index: 2;
}
.dark__block-pic1 {
    position: absolute;
    left: 35.7%;
    top: 8.9%;
    z-index: 1;
}
hr {
    position: absolute;
    max-width: 600px;
    width: 100%;
    height: 2px;
    left: 0%;
    right: 0%;
    top: 513px;
}
.dark__block-icon1 {
    margin-top: 43px;
    margin-left: 133px;
}
.dark__block-icon2 {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 570px;
    margin-left: 260px;
}
.sun_svg :hover {
    fill: yellow;
    transition: 0.5s;
}
.moon_svg :hover {
    fill: blue;
    transition: 0.5s;
}
.dark__block-icons-text1 {
    max-width: 107px;
    margin-top: 5px;
    margin-left: 95px;
    margin-bottom: 160px;
}
.dark__block-icons-text2 {
    margin-top: 0px;
    max-width: 103px;
    position: absolute;
    top: 610.4px;
    margin-left: 230px;
}



/* PRICING */
.pricing {
    background-color: #FFFFFF;
} 
.pricing__text1 {
    margin: 0 auto;
    margin-top: 100px;
    width: 73px;
}
.pricing__text2 {
    margin: 0 auto;
    width: 355px;
}
.pricing__text3 {
    margin: 0 auto;
    margin-bottom: 41px;
    width: 568px;
}   
        /* Pricing blocks */
.pricing__blocks {
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    margin-bottom: 100px;
    gap: 16px;
    max-width: 1200px;
    position: relative;
}
.pricing__blocks-bl1,
.pricing__blocks-bl2,
.pricing__blocks-bl3 {
    position: relative;
    width: 380px;
    height: 338px;
    background: #F2F2F2;
    border-radius: 20px;
}
.pricing__blocks-bl1-name,
.pricing__blocks-bl2-name,
.pricing__blocks-bl3-name   {
    position: absolute;
    max-width: 85px;
    max-height: 24px;
    top: 49px ;
    left:147px ;
}
.pricing__blocks-bl1-price {
    position: absolute;
    max-width: 144px;
    max-height: 124px;
    left: 117px;
    top: -30px;;
}
.pricing__blocks-bl1-period,
.pricing__blocks-bl2-period,
.pricing__blocks-bl3-period {
    position: absolute;
    max-width: 83px;
    max-height: 20px;
    left: 148px;
    top:198px;
}
.pricing__blocks-bl1-button {
    position: absolute;
    max-height: 40px;
    max-width: 129px;
    left: 125px;
    right: 0%; 
    top: 248px;
    background: #0278ED;
    border-radius: 4px;
}
.pricing__blocks-bl2-price {
    position: absolute;
    max-width: 144px;
    max-height: 124px;
    left: 77px;
    top: -30px;;
}
.pricing__blocks-bl2-button {
    position: absolute;
    max-height: 40px;
    max-width: 129px;
    left: 125px;
    right: 0%; 
    top: 248px;
    background: #FF5437;
    border-radius: 4px;
}
.pricing__blocks-bl3-price {
    position: absolute;
    max-width: 144px;
    max-height: 124px;
    left: 57px;
    top: -30px;;
}
.pricing__blocks-bl3-button {
    position: absolute;
    max-height: 40px;
    max-width: 129px;
    left: 125px;
    right: 0%; 
    top: 248px;
    background: #FF9209;
    border-radius: 4px;
}

/* TESTIMONIALS */
.testimonials {
    background: #F2F2F2;
    position: relative;
}
.testimonials__text1 {
    margin: auto;
    padding-top: 100px;
    max-width: 127px;
}
.testimonials__text2 {
    margin: 0 auto;
    width: 407px;
}
.testimonials__text3 {
    margin: 0 auto;
    margin-bottom: 41px;
    width: 325px;
} 


 /*TEstimonials block */ 
 .testimonials__blocks {
    display: flex;
    align-content: space-between;
    margin: 0 auto;
    padding-bottom: 100px;
    gap: 15px;
    max-width: 1200px;
    position: relative;
}
.testimonials__blocks-bl1 {
    position: relative;
    width: 380px;
    height: 224px;
    background: #FFFFFF;
    border-radius: 20px;
}
.testimonials__blocks-bl1-name   {
    position: absolute;
    max-width: 312px;
    max-height: 96px;
    top: 30px ;
    left:30px ;
}
.testimonials__blocks-bl1-price {
    position: absolute;
    max-width: 92px;
    max-height: 20px;
    left: 88px;
    top: 130px;
}
.testimonials__blocks-bl1-period {
    position: absolute;
    max-width: 97px;
    max-height: 20px;
    left: 88px;
    top: 152px;
}
.testimonials__blocks-bl1-img {
    position: absolute;
    max-height: 48px;
    max-width: 48px;
    left: 30px;
    top: 146px; 
}

.testimonials__blocks-bl2 {
    position: relative;
    width: 380px;
    height: 224px;
    background: #FFFFFF;
    border-radius: 20px;
}
.testimonials__blocks-bl2-name   {
    position: absolute;
    max-width: 312px;
    max-height: 96px;
    top: 30px ;
    left:30px ;
}
.testimonials__blocks-bl2-price {
    position: absolute;
    max-width: 112px;
    max-height: 20px;
    left: 88px;
    top: 130px;
}
.testimonials__blocks-bl2-period {
    position: absolute;
    max-width: 118px;
    max-height: 20px;
    left: 88px;
    top: 152px;
}
.testimonials__blocks-bl2-img {
    position: absolute;
    max-height: 48px;
    max-width: 48px;
    left: 30px;
    top: 146px; 
}
.testimonials__blocks-bl3 {
    position: relative;
    width: 380px;
    height: 224px;
    background: #FFFFFF;
    border-radius: 20px;
}
.testimonials__blocks-bl3-name   {
    position: absolute;
    max-width: 295px;
    max-height: 96px;
    top: 30px ;
    left:30px ;
}
.testimonials__blocks-bl3-price {
    position: absolute;
    max-width: 122px;
    max-height: 20px;
    left: 88px;
    top: 130px;
}
.testimonials__blocks-bl3-period {
    position: absolute;
    max-width: 118px;
    max-height: 20px;
    left: 88px;
    top: 152px;
}
.testimonials__blocks-bl3-img {
    position: absolute;
    max-height: 48px;
    max-width: 48px;
    left: 30px;
    top: 146px; 
}

/* DOWNLOAD */
.download {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 100px;
}
.download__text1 {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 103px;
}
.download__text2 {
    margin: 0 auto;
    text-align: center;
    width: 383px;
}
.download__text3 {
    margin: 0 auto;
    width: 589px;
} 
.download__img {
    margin: 0 auto;
    max-width: 178px;
}

/* FAQ */ 
.faq{
    position: relative;
    background: #f2f2f2d8;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.faq__inner {
    margin: 0 auto;
    /* margin-top: 100px; */
    max-width: 1200px;
    height: 440px;    /*НЕ РАБОТАЕТ МАКС ХАЙТ*/
    background: #f2f2f2c5;
    display: flex;
    position: relative;
}


/* FAQ inner */

.faq__inner-h1 {
    position: relative;
    top:0px;
    left:16px;
    max-width: 65px;
    max-height: 36px;
}
.faq__inner-p1 {
    position: absolute;
    top: 44px;
    left:16px;
    max-width: 258px;
    max-height: 20px;
}

.faq__inner-h2 {
    position: absolute;
    top: 106px;
    left:16px;
    max-width: 341px;
    max-height: 28px;
}
.faq__inner-p2 {
    position: absolute;
    top:144px;
    left:16px;
    max-width: 576px;
    max-height: 96px;
}

.faq__inner-h3 {
    position: absolute;
    top:290px;
    left:16px;
    max-width: 542px;
    max-height: 28px;
}
.faq__inner-p3 {
    position: absolute;
    top:328px;
    left:16px;
    max-width: 546px;
    max-height: 96px;
}

.faq__inner-h4 {
    position: absolute;
    top:106px;
    left:608px;
    max-width: 421px;
    max-height: 28px;
}
.faq__inner-p4 {
    position: absolute;
    top:144px;
    left:608px;
    max-width: 572px;
    max-height: 120px;
}
.faq__inner-h5 {
    position: absolute;
    top:290px;
    left:608px;
    max-width: 377px;
    max-height: 28px;
}
.faq__inner-p5 {
    position: absolute;
    top:328px;
    left:608px;
    max-width: 558px;
    max-height: 72px;
}

/* Contacts */
.contacts {
    position: relative;
    background: #FFFFFF;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.contacts__inner {
    margin: 0 auto;
    /* margin-top: 100px; */
    max-width: 1200px;
    background: #FFFFFF;
    height: 227px;
    display: flex;
    position: relative;
}
.contacts__inner-img {
    position: ar;
    top:0.23px;
    left:547.4px;
    max-width: 75px;
    max-height: 75px;
}
.contacts__inner-logo{
    position: absolute;
    left: 46%;
    font-size: 35px;
    font-weight: 800;
    color: #FFFFFF;
    padding: 10px;
    background: linear-gradient(134.6deg, #D140F8 -3.11%, #788CE9 33.98%, #37C2DE 66.35%, #1ECCAE 98.49%); 
    border-radius: 20px;
    text-decoration: none;
}

.contacts__inner-logo:hover {
    color: rgba(192, 201, 216, 0.932);
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
.contacts__inner-title {
    position: absolute;
    top:68.36px;
    left: 524px;
    max-width: 120px;
    max-height: 38px;
}
.contacts__inner-link1 {
    position: absolute;
    top:175px;
    left: 528px;
    max-width: 25px;
    max-height: 19.5px;
}
.contacts__inner-link2 {
    position: absolute;
    top:172.77px;
    left: 572px;
    max-width: 24px;
    max-height: 24px;
}
.contacts__inner-link3 {
    position: absolute;
    top:172.77px;
    left: 622.38px;
    max-width: 120px;
    max-height: 38px;
}

/* Contacts-texts */
.contacts__inner-text1 {
    position: absolute;
    top:202px;
    left: 306px;
    max-width: 98px;
    max-height: 24px;
}
.contacts__inner-text2 {
    position: absolute;
    top:202px;
    left: 404px;
    max-width: 70px;
    max-height: 24px;
}
.contacts__inner-text3 {
    position: absolute;
    top:202px;
    left: 474px;
    max-width: 313px;
    max-height: 24px;
}
.contacts__inner-text4 {
    position: absolute;
    top: 179px;
    left: 787px;
    max-width: 71px;
    max-height: 24px;
}